<h1>Buffet</h1>

<div>
  <%= link_to 'Editar Buffet', edit_buffet_path(@buffet) %>
</div>

<dl>
  <dt><%= Buffet.human_attribute_name(:business_name) %>:</dt>
  <dd><%= @buffet.business_name %></dd>

  <dt><%= Buffet.human_attribute_name(:corporate_name) %>:</dt>
  <dd><%= @buffet.corporate_name %></dd>

  <dt><%= Buffet.human_attribute_name(:registration_number) %>:</dt>
  <dd><%= @buffet.registration_number %></dd>

  <dt><%= Buffet.human_attribute_name(:contact_phone) %>:</dt>
  <dd><%= @buffet.contact_phone %></dd>

  <dt><%= Buffet.human_attribute_name(:address) %>:</dt>
  <dd><%= @buffet.address %></dd>

  <dt><%= Buffet.human_attribute_name(:district) %>:</dt>
  <dd><%= @buffet.district %></dd>

  <dt><%= Buffet.human_attribute_name(:state) %>:</dt>
  <dd><%= @buffet.state %></dd>

  <dt><%= Buffet.human_attribute_name(:city) %>:</dt>
  <dd><%= @buffet.city %></dd>

  <dt><%= Buffet.human_attribute_name(:postal_code) %>:</dt>
  <dd><%= @buffet.postal_code %></dd>

  <dt><%= Buffet.human_attribute_name(:description) %>:</dt>
  <dd><%= @buffet.description %></dd>

  <dt><%= Buffet.human_attribute_name(:payment_methods) %>:</dt>
  <dd><%= @buffet.payment_methods %></dd>
</dl>