<h2>Pedido <%= @order.code %> </h2>

<div>
  <%= link_to 'Voltar', root_path %>
</div>

<% if buffet_owner_user_signed_in? %>
  
  <% if @another_order_in_same_day %>
    <div id="others_orders">
      Há outros pedidos no mesmo dia:
      <ul>
        <% @others_orders_in_same_day.each do |order| %>
          <li>Pedido <%= link_to order.code, order_path(order) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @order.pending? %>
    <div>
      <div>
        Valor final em R$: <%= @order.calculate_price %>
      </div>

      <%= form_with(model: @order, url: approved_by_buffet_owner_order_path(@order.id), method: :post) do |f| %>
        <div>
          <%= f.label :tax_or_discount, 'Taxa extra ou desconto:' %>
          <%= f.number_field :tax_or_discount %>
        </div>
        <div>
          <%= f.label :description_tax_or_discount, 'Descrição da taxa extra ou desconto:' %>
          <%= f.text_field :description_tax_or_discount %>
        </div>
        <div>
          <%= f.label :payment_method, 'Meio de pagamento:' %>
          <%= f.text_field :payment_method %>
        </div>
        <div>
          <%= f.label :payment_date, 'Data de validade do valor atual:' %>
          <%= f.date_field :payment_date %>
        </div>
        <div>
          <%= f.submit 'Aprovar Pedido' %>
        </div>
      <% end %>
    </div>
    
    <div>
      <%= button_to 'Cancelar Pedido', canceled_order_path(@order.id) %>
    </div>
  
  <% elsif @order.approved_by_buffet_owner? %>
    <dl>
      <dt>Valor final em R$:</dt>
      <dd><%= @order.calculate_price_with_tax_or_discount %></dd>

      <dt>Taxa extra ou desconto:</dt>
      <dd><%= @order.tax_or_discount %></dd>

      <dt>Descrição da taxa extra ou desconto:</dt>
      <dd><%= @order.description_tax_or_discount %></dd>

      <dt>Meio de pagamento:</dt>
      <dd><%= @order.payment_method %></dd>

      <dt>Data de validade do valor atual:</dt>
      <dd><%= I18n.localize @order.payment_date %></dd>
    </dl>
  <% end %>

<% elsif client_signed_in? %>
  <% if @order.approved_by_buffet_owner? %>
    <div id="approved_by_buffet_owner">
      <dl>
        <dt>Valor final em R$:</dt>
        <dd><%= @order.calculate_price_with_tax_or_discount %></dd>

        <dt>Taxa extra ou desconto:</dt>
        <dd><%= @order.tax_or_discount %></dd>

        <dt>Descrição da taxa extra ou desconto:</dt>
        <dd><%= @order.description_tax_or_discount %></dd>

        <dt>Meio de pagamento:</dt>
        <dd><%= @order.payment_method %></dd>

        <dt>Data de validade do valor atual:</dt>
        <dd><%= I18n.localize @order.payment_date %></dd>
      </dl>
    </div>

    <% if @order.payment_date > Date.today %>
      <%= button_to 'Confirmar Pedido', confirmed_by_client_order_path(@order.id) %>
    <% else %>
      <p>Data máxima para aprovar o pedido foi excedida!. Não é mais possível aprovar o pedido.</p>
    <% end %>
  <% end %>
<% end %>

<dl>
  <dt>Status:</dt>
  <dd><%= t @order.status %></dd>
  
  <dt>Cliente:</dt>
  <dd><%= @order.client.name %>, <%= @order.client.email %></dd>

  <dt>Buffet:</dt>
  <dd><%= link_to @buffet.business_name, buffet_path(@buffet) %></dd>

  <dt>Tipo de Evento:</dt>
  <dd><%= link_to @buffet_type.name, buffet_type_path(@buffet_type) %></dd>

  <dt>Data desejada:</dt>
  <dd><%= I18n.localize @order.date %></dd>

  <dt>Quantidade estimada de convidados:</dt>
  <dd><%= @order.number_of_guests %></dd>

  <dt>Detalhes do Evento:</dt>
  <dd><%= @order.event_details %></dd>

  <% if @order.has_custom_address %>
    <dt>Local Próprio:</dt>
    <dd><%= @order.address %></dd>
  <% else %>
    <dt>Sem Local Próprio:</dt>
    <dd>Na localização do buffet</dd>
  <% end %>
</dl>
