<h2>Pedido <%= @order.code %> </h2>

<div>
  <%= link_to 'Voltar', root_path %>
</div>

<dl>
  <dt>Status:</dt>
  <dd><%= t @order.status %></dd>
  
  <dt>Cliente:</dt>
  <dd><%= @order.client.name %>, <%= @order.client.email %></dd>

  <dt>Buffet:</dt>
  <dd><%= link_to @buffet.business_name, buffet_path(@buffet) %></dd>

  <dt>Tipo de Evento:</dt>
  <dd><%= link_to @buffet_type.name, buffet_type_path(@buffet_type) %></dd>

  <dt>Data desejada:</dt>
  <dd><%= I18n.localize @order.date %></dd>

  <dt>Quantidade estimada de convidados:</dt>
  <dd><%= @order.number_of_guests %></dd>

  <dt>Detalhes do Evento:</dt>
  <dd><%= @order.event_details %></dd>

  <% if @order.has_custom_address %>
    <dt>Local Próprio:</dt>
    <dd><%= @order.address %></dd>
  <% else %>
    <dt>Sem Local Próprio:</dt>
    <dd>Na localização do buffet</dd>
  <% end %>

</dl>
