<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <head>
      <nav>
        <% if buffet_owner_user_signed_in? %>
          Dono de Buffet: <%= current_buffet_owner_user.name %> |
          <%= current_buffet_owner_user.email %> |
          <%= button_to 'Sair', destroy_buffet_owner_user_session_path, method: :delete %>

          <% if Buffet.exists?(buffet_owner_user: current_buffet_owner_user)%>
            <%= link_to 'Registrar Tipo de Evento', new_buffet_type_path %>   

            <div> <%= link_to 'Pedidos', buffet_owner_user_index_orders_path %> </div> 
          <% end %>
        <% end %>

        <% if client_signed_in?  %>
          Cliente: <%= current_client.name %> |
          <%= current_client.email %> |
          <%= button_to 'Sair', destroy_client_session_path, method: :delete %>

          <div> <%= link_to 'Meus pedidos', client_index_orders_path %> </div>
        <% end %>
        
        <%unless buffet_owner_user_signed_in? or client_signed_in? %>
          | <%= link_to 'Entrar como dono de buffet', new_buffet_owner_user_session_path %>
          | <%= link_to 'Entrar como cliente', client_session_path %>
        <% end %>

        <div><%= link_to 'Home', root_path %></div>
      </nav>
    </head>
    <main>
      
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <h1>Cadê Buffet?</h1>

      <% unless buffet_owner_user_signed_in? %>

        <%= form_with(url: search_buffets_path, method: :get) do |f| %>
          <%= f.label :query, 'Buscar Buffet' %>
          <%= f.text_field :query %>
          <%= f.submit 'Buscar' %>
        <% end %>

      <% end %>

      <%= yield %>
    </main>
    
  </body>
</html>
