<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <head>
      <nav>
        <% if buffet_owner_user_signed_in? %>
          <%= current_buffet_owner_user.name %> |
          <%= current_buffet_owner_user.email %> |
          <%= button_to 'Sair', destroy_buffet_owner_user_session_path, method: :delete %>
          <% if Buffet.exists?(buffet_owner_user: current_buffet_owner_user)%>
            <%= link_to 'Registrar Tipo de Evento', new_buffet_type_path %>
          <% end %>
        <% else%>
          <%= link_to 'Entrar', new_buffet_owner_user_session_path %>
        <% end %>
      </nav>
    </head>
    <main>
      
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <h1>Cadê Buffet?</h1>
      <%= yield %>
    </main>
    
  </body>
</html>
